<h1>Détails de la Publication</h1>
<p><strong>Titre :</strong> <%= @publication.title %></p>
<p><strong>Contenu :</strong> <%= @publication.content %></p>

<% if current_user == @publication.user %>
  <%= form_tag publication_path(@publication), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette publication?' } do %>
    <%= submit_tag 'Supprimer', class: 'btn btn-danger' %>
  <% end %>
  <%= link_to 'Modifier', edit_publication_path(@publication), class: 'btn btn-primary' %>
<% end %>

<% @publication.comments.each do |comment| %>
  <div class="comment">
    <p><strong>Commentaire de <%= comment.user.first_name %>:</strong></p>
    <p><%= comment.content %></p>
  </div>
<% end %>

<%= render 'comments/form' %>
<%= link_to 'Retour', root_path %>
