<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "THE GOSSIP", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to "Team", team_path, class: "nav-link" %>
        <%= link_to "Contact", contact_path, class: "nav-link" %>
      </div>
      <div class="navbar-nav d-flex">
        <% if logged_in? %>
          <%= form_tag session_path(current_user), method: :delete, class: "nav-link text-danger" do %>
            <%= submit_tag "Déconnexion", class: "btn btn-danger" %>
          <% end %>
        <% else %>
          <%= link_to "Se connecter", new_session_path, class: "nav-link" %>
          <%= link_to "S'inscrire", new_user_path, class: "nav-link" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
