<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "THE GOSSIP", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to "team", team_path, :class=>"nav-link"%>
        <%= link_to "contact", contact_path, :class=>"nav-link"%>
      </div>
      <% if logged_in? %>
        <div class="d-flex">
        <%= form_tag session_path(current_user), method: :delete, class: "nav-link text-danger" do %>
          <%= submit_tag "Déconnexion", class: "btn btn-danger" %>
        <% end %>
      <% else %>
        <%= link_to "Se connecter", new_session_path %>
        <%= link_to 's\'inscrire', new_user_path %></li>
      <% end %>
      </div>
    </div>
  </div>
</nav>
